.tab-content {
    min-height: 350px;
}

.modal-show {
    padding-left: 17px;
}

.modal-dialog {
    min-width: 50% !important;
}

.form-error {
    font-size: 14px;
    color: #d93025;
}

.form-create-item,
.form-create-item input,
.form-create-item select {
    font-size: 15px;
}

#modalUnit {
    padding: 0 60px;
    box-shadow: 10px 10px 5px #000;
}

.table-data2 thead th,
.table-data2 tbody td {
    padding: 25px 15px !important;
}