.tab-content {
    min-height: 350px;
}

.modal-show {
    padding-left: 17px;
}

.modal-dialog {
    min-width: 50% !important;
}

.form-error {
    font-size: 14px;
    color: #d93025;
}

.form-create-item,
.form-create-item input,
.form-create-item select {
    font-size: 15px;
}

#modalUnit {
    padding: 0 60px;
    box-shadow: 10px 10px 5px #000;
}

.table-data2 thead th,
.table-data2 tbody td {
    padding: 25px 15px !important;
}

.box-extra-photo-edit {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-top: 15px;
}

.box-extra-photo-edit span {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 0%;
    right: -10%;
    border-radius: 50%;
    background: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CSS font-size import export products */

.form-create-import-product .form-control,
.form-create-import-product .form-control-label,
.form-create-import-product .form-check-label,
.form-create-import-product .form-check-input {
    font-size: 14px !important;
}

.form-create-import-product .money {
    width: 130px;
}

.form-create-import-product .bill_tax_money {
    margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}